.wrapper-price-for-concert{
    display: flex;
    flex-direction: column;
    min-width: 140px;
    margin-left: 102.6px;
    margin-top: 70px;
}
.price-for-concert__box{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    height: 20px;
}
.price-for-concert__box > div{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.price-for-concert__box > p{
    font-size: 15px;    
    font-weight: 400;
    font-family: 'Vinnytsia Sans';
    color: #4C382C;
    margin-top: 8px;
}