.wrapper-price-for-concert{
    display: flex;
    flex-direction: column;
    margin: 80px 100px 0 100px;
}
.price-for-concert__box > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
}
.price-for-concert__box > div > p{
    font-size: 22px;
    color: white;
    font-weight: 600;
}