.basket-item-wrapper{
    display: flex;
    flex-direction: row;  
    width: 900px;
    align-self: center;
    position: relative;
    
}
.basket-item__image-ticket{
    width: 50px;
    height: 50px;
    align-self: center;
    margin: 0 30px 0 70px;
}
.basket-item__image-cancel{
    position: absolute;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 15px 0 0 20px;
    right: 20px;
}
.basket-item__main-information{
    display: flex;
    flex-direction: column;
    width: 480px;
    margin-left: 20px;
}
.main-information__floor-row-seat{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    font-family: "Golca Light";
}
.main-information__name{
    color: #000;
    font-family: 'Vinnytsia Sans';
    font-size: 17px;
    font-weight: 600;
    margin-top: -5px;
}
.main-information__date-venue{
    color: #000;
    font-size: 15px;
    font-weight: 400;
    font-family: "Golca Light"; 
    margin-top: -6px;  
}
.basket-item__box-price{
    color: #000;
    font-family: 'Vinnytsia Sans';
    font-size: 15px;
    font-weight: 400;
    align-self: center;
    margin-left: 20px;

}
.basket-line{
    display: flex;
    width: 900px;
    height: 1px;
    background: #FFB800;
    align-self: center;
}