.wrapper-concert-page{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #FDF9F6;
}
.concert-line{
    margin-top: 20px;
    height: 2px;
    background-color: #FFB800;
    width: 85%;
    border: none;
    align-self: center;
}