.wrapper-filtre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.filter__checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 1008px;
    font-family: 'Vinnytsia Sans';
    color: white;
    font-size: 18px;
    font-weight: 400;
    background-color: #4C382C;
    border: 1px solid #4C382C;
}
.checkbox-one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.checkbox-one > label{
    margin-top: 16px;
    margin-left: -3px;
}
.filter__box-place-date{
    display: flex;
    flex-direction: row;
    width: 1008px;
    margin-top: 10px;
    justify-content: space-between;
}
.box-place{
    color: #000;
    text-align: center;
    font-family: 'Vinnytsia Sans';
    font-size: 18px;
    font-weight: 400;
}

