.wrapper-filtre{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
.filter__checkbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    width: 1008px;
    color: white;
    font-family: "Roboto Slab";
    font-size: 19px;
    font-weight: 200;
    
    background-color: #4C382C;
    border-radius: 10px;
    border: 1px solid #B4ADA9;
}
.checkbox-one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.checkbox-one > input{
    width: 18px;
    color: rgb(0, 0, 0);
    margin-right: 6px;

}
.filter__box-place-date{
    display: flex;
    flex-direction: row;
    width: 1008px;
    margin-top: 10px;
    justify-content: space-between;
}
.box-place{
    color: #000;
    text-align: center;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
}
.box-place > select{
    width: 170px;
    height: 30px;
    background-color: #FDF9F6;
    border: none;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
}





