.concert-card{
    display: flex;
    position: relative;
    flex-direction: row;
    margin-bottom: 45px;
    width: 1008px;
    min-height: 292px;
    background-color: #FDF9F6;
}
.concert-card__poster{
    display: flex;
    position: relative;
    margin-left: 55px;
    margin-top: 40px;
}
.concert-card__poster > img{
    width: 150px;
    height: 209px;
    transform: rotate(9deg);
}
.background-of-picture{
    position: absolute;
    width: 128px;
    height: 177px;
    background-color: #2B2A2A;
    opacity: 78%;
    transform: rotate(22deg);
    left: 72px;
    top:30px;
}
.concert-wrapper-information{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: 120px;
}
.concert-card__name{
    color: #000;
    font-family: 'Vinnytsia Sans';
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}
.concert-card__type{
    color: #FFB800;
    font-family: 'Vinnytsia Sans';
    font-size: 16px;
    margin-top: -10px;
}
.concert-wrapper-venue-date{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.concert-card__date{
    color: #000;
    font-family: "Golca Light";
    font-size: 16px;
    font-weight: 400;
}
.concert-card__venue{
    color: #000;
    font-size: 16px;
    font-family: "Golca Light";
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 0px;
}
.concert-wrapper-price{
    display: flex;
    width: 520px;
    margin-left: 20px;
    margin-top: 24px;
}
.concert-card__price{
    font-family: 'Vinnytsia Sans';
    color: #4C382C;
    font-size: 24px;
    font-weight: 700;

}
.concert-card__button-book{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 219px;
    min-height: 292px;
    border: none;
    background: #FFB800;
    cursor: pointer;
    text-decoration: none;
}
.concert-card__button-book > span{
    text-decoration: none;
    font-family: 'Vinnytsia Sans';
    color: #FFF;
    font-weight: 700;
    font-size: 48px;
}
.concert-arrow{
    position: absolute;
    transform: translateY(60%);
    right: 255px;
}


@media screen and (max-width: 1100px){
    .concert-card{
        width: 88%;
    }
    .concert-card__poster{
        margin-left: 45px;
    }
    .concert-card__poster > img{
        width: 140px;
        height: 199px;
    }
    .background-of-picture{
        width: 118px;
        height: 167px;  
    }
    .concert-card__button-book{
        width: 180px;
    }
    .concert-card__button-book > span{
        font-size: 40px;
    }
    .concert-arrow{
       visibility: hidden;
    }
}

@media screen and (max-width: 970px){
    .background-of-picture{
        visibility: hidden; 
    }
    .concert-card{
        min-height: 280px;
    }
    .concert-wrapper-information{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 350px;
        margin-left: 6%;
    }
    .concert-card__button-book{
        width: 180px;
        min-height: 280px;
    }
}
@media screen and (max-width: 880px){
    .background-of-picture{
        visibility: hidden; 
    }
    .concert-card__button-book{
        width: 180px;
        min-height: 280px;
    }
    .concert-wrapper-price{
        margin-top: 10px;
        width: 200px;
        margin-left: 20px;
    }
    .concert-card__button-book{
        right: 30px;
        bottom: 20px;
        width: 150px;
        min-height: 40px;
    }
    .concert-card__button-book > span{
        font-size: 20px;
    }
}
@media screen and (max-width: 710px){
    .background-of-picture{
        visibility: visible; 
        width: 118px;
        height: 167px;
    }
    .concert-card{
        flex-direction: column;
        margin-bottom: 45px;
    }
    .concert-card__button-book{
        width: 180px;
        min-height: 280px;
    }
    .concert-wrapper-price{
        margin-left: 0;
    }
    .concert-card__button-book{
        right: 30px;
        bottom: 20px;
        width: 150px;
        min-height: 40px;
    }
    .concert-card__button-book > span{
        font-size: 20px;
    }
    .concert-card__poster{
        align-self: center;
        margin-right: 70px;
    }
    .concert-wrapper-information{
        width: 90%;
    }
    .concert-wrapper-price{
        margin-left: 20px;
    }
    .concert-card__price{
        font-size: 22px;
    }
    .concert-wrapper-venue-date{
        margin-top: 10px;
    }
}