.wrapper-svg-filarmoniya{
    position: relative;
    overflow: hidden;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.wrapper-svg-filarmoniya > svg{
    position: absolute;
    left: 100px;
    top: -160px;
}