.wrapper-logIn{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.logIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 550px; 
    background-color: #FDF9F6;
    border-radius: 10px;
    border: 1px solid #B4ADA9;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.20));
}
.logIn__name-block{
    color: #000;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
}
.logIn__text{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-top: -20px;
}
.logIn__box-for-information{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.logIn__box-for-information > input{
    width: 290px;
    height: 40px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #B4ADA9;
    padding: 0 10px;
    filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.20));
}
.logIn__box-for-information > label{
    color: #000;
    font-size: 20px;
    font-weight: 500;

}
.logIn-button{
    width: 190px;
    height: 45px;
    border-radius: 10px;
    background: #4C382C;
    color: #FFF;
    font-size: 23px;
    margin-top: 40px;
}
.logIn__box-signUp{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}
.logIn__box-signUp > p{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
}
.logIn__box-signUp > a{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: underline;
}

