.basket-tickets{
    display: flex;
    flex-direction: column;
    width: 1008px;
    height: auto;
    background-color: #FDF9F6;
    margin-top: 120px;
    padding-top: 15px;
}
.basket-tickets__box-button-price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.basket-tickets__box-button-price > input{
    width: 180px;
    height: 40px;
    border: none;
    background: #FFB800;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Vinnytsia Sans';
    margin-left: 30px;
    cursor: pointer;
}
.basket-tickets__box-button-price > p{
    font-family: 'Vinnytsia Sans';
    color: #4C382C;
    font-size: 24px;
    font-weight: 700;
}

