.basket-tickets{
    display: flex;
    flex-direction: column;
    width: 1008px;
    height: auto;
    background-color: #FDF9F6;
    margin-top: 120px;
    padding-top: 20px;
    min-height: 250px;
}
.basket-tickets__box-button-price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.basket-tickets__box-button-price > input{
    width: 180px;
    height: 40px;
    border: none;
    background: #FFB800;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Vinnytsia Sans';
    margin-left: 30px;
    cursor: pointer;
}
.basket-tickets__box-button-price > p{
    font-family: 'Vinnytsia Sans';
    color: #4C382C;
    font-size: 24px;
    font-weight: 700;
}
.wrapper-basket-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Vinnytsia Sans';
    color: #4C382C;
    font-size: 25px;
    font-weight: 700;
    height: 100%;
}

@media screen and (max-width: 1050px){
    .basket-tickets{
        width: 90%;
    }
}
@media screen and (max-width: 550px){
    .basket-tickets__box-button-price > input{
        width: 140px;
        height: 37px;
        border: none;
        background: #FFB800;
        color: #FFF;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Vinnytsia Sans';
        margin-left: 10px;
        cursor: pointer;
    }
    .basket-tickets__box-button-price > p{
        font-family: 'Vinnytsia Sans';
        color: #4C382C;
        font-size: 18px;
        font-weight: 700;
        margin-left: 3px;
    }
}